<h2>Our Gallery</h2>
<hr>
<div class="gal"> 
  <div class="in">
    <img id="img2" src="../../assets/images/pic2.jfif" alt="pic">
    <img id="img5" src="../../assets/images/pic5.jfif" alt="pic">
    <img id="img1" src="../../assets/images/pic1.jfif" alt="pic">
    
    <img id="img3" src="../../assets/images/pic3.jfif" alt="pic">
  </div>
  <div class="in2">
    
    <img id="img4" src="../../assets/images/pic4.jpg" alt="pic">
    
    <img id="img6" src="../../assets/images/pic6.jfif" alt="pic">
  </div>
</div>
<!-- Not working -->