<nav class="navbar ">
  <!-- Links user controls -->
  <h3>User Options</h3>
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="../bookslot" class="nav-link" routerLinkActive="active">Book Appointment</a>
    </li>
    <li class="nav-item">
        <a routerLink="../status" class="nav-link" routerLinkActive="active">Check Status</a>
    </li>
    <li class="nav-item">
      <a routerLink="../mybookings" class="nav-link" routerLinkActive="active">My Bookings</a>
  </li>
  </ul>
</nav>