<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links admin controls -->
  <h3>Admin Options</h3>
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="../experts" class="nav-link" routerLinkActive="active">Expert List</a>
    </li>
    <li class="nav-item">
        <a routerLink="../add" class="nav-link" routerLinkActive="active">Add Expert</a>
    </li>
    <li class="nav-item">
      <a routerLink="../addslot" class="nav-link" routerLinkActive="active">Add Slot</a>
  </li>
  </ul>
</nav>